<!-- Page Content -->
  <div id="page-content-wrapper " class="hidePrint">
      <div class="container-fluid">
          <div class="row p-header">
              <div class="col-sm-1 p-header-bars">
                  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a>
              </div>
              <div class="col-sm-9 p-header-title">
                  <h2>Upload Monthly Reports</h2>
              </div>
              <div class="col-sm-2 p-header-info">
                  <h3>
                      {{user.name}}
                      <small><br/>
                          DCRB-{{user.district_name}}
                      </small>
                  </h3>
              </div>
          </div>
          <div class="container-fluid">
              <div class="row p-body-date">
                  <div class="col-sm-2">
                      <select name="month" id="js-month-select" class="form-control">
                          <option value="1" {{selectedOrNot month 1}} >January</option>
                          <option value="2" {{selectedOrNot month 2}}>February</option>
                          <option value="3" {{selectedOrNot month 3}}>March</option>
                          <option value="4" {{selectedOrNot month 4}}>April</option>
                          <option value="5" {{selectedOrNot month 5}}>May</option>
                          <option value="6" {{selectedOrNot month 6}}>June</option>
                          <option value="7" {{selectedOrNot month 7}}>July</option>
                          <option value="8" {{selectedOrNot month 8}}>August</option>
                          <option value="9" {{selectedOrNot month 9}}>September</option>
                          <option value="10" {{selectedOrNot month 10}}>October</option>
                          <option value="11" {{selectedOrNot month 11}}>November</option>
                          <option value="12" {{selectedOrNot month 12}}>December</option>
                      </select>
                  </div>
                  <div class="col-sm-2">
                      <select class="form-control" name="year" id="js-report-year">
                      {{#each years}}
                      	<option value="{{year}}" {{selected}}>{{year}}</option>
                      {{/each}}
                      </select>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12 p-body-cols">
                      <div class="row p-body-rows">
                          {{#each reports}}
                          <div class="col-sm-4">
                              <div class="r-card">
                                <a class="pull-right" data-toggle="tooltip" data-delay="100" data-placement="top" title="Download report tempmlate" href="/sampleReports/month/{{description}}.xlsx" align="right">
                                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="font-size :25px;"></span>
                                </a>
                                  <p>{{report_name}}</p>
                                  {{description}}
                              </div>
                              {{#if reportStatus}}
                                <div class="r-success" style="margin-bottom:7%;padding:17px;">Report Uploaded</div>
                              {{else}}
                                <div class="r-default" style="margin-bottom:7%;" data-id="{{id}}" data-report-name="{{report_name}}">Upload Report</div>
                              {{/if}}
                          </div>
                          {{/each}}

                      </div>
                    </div>
              </div>


          </div>
      </div>
  </div>
  <div class="modal fade yesPrint" id="request-pending" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header modal-success">
          <button type="button" class="close printHide" data-dismiss="modal" aria-label="Close" style="display:none;">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Uploding</h4>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
           <div id="reportsList" >
            <p class="text-info">Please wait ... </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
