<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row p-header">
      <div class="col-sm-1 p-header-bars">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a>
      </div>
      <div class="col-sm-9 p-header-title">
        <h2>Yearly Reports Dashboard</h2>
      </div>
      <div class="col-sm-2 p-header-info">
        <h3>
          {{user.name}}
          <small><br/>
              SCRB
          </small>
        </h3>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row p-body-date">
        <div class="col-sm-2">
          <select class="form-control" name="year" id="js-state-yearly-year-select">
            {{#each years}}
              <option value="{{year}}" {{selected}}>{{year}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-sm-2 pull-right">
          <select class=" form-control" id="js-yearly-view">
            <option value="report" {{selectedOrNot view 'report'}} > report</option>
            <option value="district" {{selectedOrNot view 'district'}}> district</option>
          </select>
        </div>
        <div class="col-sm-6">

        </div>
        <!-- <div class="col-sm-2">
          <select class="form-control">
            <option>All Districts</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div> -->
      </div>

      <div class="row">
        <div class="col-sm-12 p-body-cols">
          <div class="row p-body-rows">
            {{#each districtList}}
            <div class="col-sm-4">
              <div class="r-card">
                <p>{{district_name}}</p>
              </div>
              <div class="row m-reports">
                <div class="btn-group col-sm-12" role="group" aria-label="..." style="margin-bottom:7%;">
                  <button type="button" data-district="{{id}}" data-month="{{../month}}" data-year="{{../year}}" data-status="9" data-period="annual" class="btn col-sm-6 r-success" data-toggle="modal" data-target="#district-reports-success"> {{uploaded}}</button>
                  <button type="button" data-district="{{id}}" data-month="{{../month}}" data-year="{{../year}}" data-status="0" data-period="annual" class="btn col-sm-6 r-default" data-report="{{id}}" data-toggle="modal" data-target="#district-reports-fail"> {{notUploaded}}</button>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Modal for showing reports in district wise   ------->
<div class="modal fade" id="district-reports-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modal-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Uploded Reports</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
         <div id="uploadedReportsList" >
          <p class="text-info">Please wait ... </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Exit </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="district-reports-fail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modal-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Not uploaded reports</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
         <div id="notUploadedReportsList" >
          <p class="text-info">Please wait ... </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Exit </button>
      </div>
    </div>
  </div>
</div>
