<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row p-header">
      <div class="col-sm-1 p-header-bars">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a>
      </div>
      <div class="col-sm-9 p-header-title">
        <h2>Reports Dashboard</h2>
      </div>
      <div class="col-sm-2 p-header-info">
        <h3>
          {{user.name}}
          <small><br/>
              SCRB
          </small>
        </h3>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row p-body-date">
        <div class="col-sm-2">
                    <select class="form-control" name="week" id="js-state-week-report-week">
                      <option value="1" {{selectedOrNot week 1}} >Week1 (1-7)</option>
                      <option value="2" {{selectedOrNot week 2}}>Week2 (1-14)</option>
                      <option value="3" {{selectedOrNot week 3}}>Week3 (1-21)</option>
                      <option value="4" {{selectedOrNot week 4}}>Week4 (1-{{lastDayOfMonth}})</option>
                    </select>
        </div>
        <div class="col-sm-2">
          <select class="form-control" id="js-state-week-month-select">
                          <option value="1" {{selectedOrNot month 1}} >January</option>
                          <option value="2" {{selectedOrNot month 2}}>February</option>
                          <option value="3" {{selectedOrNot month 3}}>March</option>
                          <option value="4" {{selectedOrNot month 4}}>April</option>
                          <option value="5" {{selectedOrNot month 5}}>May</option>
                          <option value="6" {{selectedOrNot month 6}}>June</option>
                          <option value="7" {{selectedOrNot month 7}}>July</option>
                          <option value="8" {{selectedOrNot month 8}}>August</option>
                          <option value="9" {{selectedOrNot month 9}}>September</option>
                          <option value="10" {{selectedOrNot month 10}}>October</option>
                          <option value="11" {{selectedOrNot month 11}}>November</option>
                          <option value="12" {{selectedOrNot month 12}}>December</option>
          </select>
        </div>
        <div class="col-sm-2">
          <select class="form-control" name="year" id="js-state-week-quarterly-year-select">
            {{#each years}}
              <option value="{{year}}" {{selected}}>{{year}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-sm-2 pull-right">
          <select class="form-control" name="view" id="js--week-state-quarterly-view">
            <option value="report" {{selectedOrNot view 'report'}}> report</option>
            <option value="district" {{selectedOrNot view 'district'}}>District</option>
          </select>
        </div>
        <div class="col-sm-6">

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 p-body-cols">
          <div class="row p-body-rows">
            {{#each districtList}}
            <div class="col-sm-4">
              <div class="r-card">
                <p>{{district_name}}</p>
              </div>
              <div class="row m-reports">
                <div class="btn-group col-sm-12 col-xs-12" role="group" aria-label="..." style="margin-bottom:7%;">
                  <button type="button" data-district="{{id}}" data-month={{../weekly}} data-status="9" data-period="weekly" class="btn col-sm-6 col-xs-6 r-success" data-toggle="modal" data-target="#district-reports-success"> {{uploaded}}</button>
                  <!--<button type="button" class="btn col-sm-4 r-danger" data-toggle="modal" data-target="#reports-default"> {{reportFail}}</button>-->
                  <button type="button" class="btn col-sm-6 col-xs-6 r-default" data-month="{{../weekly}}" data-status="0" data-period="weekly" data-district="{{id}}" data-toggle="modal"  data-target="#district-reports-fail"> {{notUploaded}}</button>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
      </div>

    </div>

  </div>

</div>


<!-- Modal for showing reports in district wise   ------->
<div class="modal fade" id="district-reports-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modal-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Uploded Reports</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
         <div id="uploadedReportsList" >
          <p class="text-info">Please wait ... </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Exit </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="district-reports-fail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modal-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Not uploaded reports</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
         <div id="notUploadedReportsList" >
          <p class="text-info">Please wait ... </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Exit </button>
      </div>
    </div>
  </div>
</div>
